$color-initial: #fff !default;
$color-primary: #0D1B2A !default;
$color-secondary: #1B263B !default;
$color-tertiary: #415A77 !default;
$color-quaternary: #778DA9 !default;
$color-quinary: #E0E1DD !default;