@import "~normalize.css/normalize.css";
@import "variables";
@import "bandwith";

/* https://milligram.io/#getting-started*/

@import "~milligram-sass/src/milligram";
@import "base";
body {
    background-color: $color-initial;
}

.nav {
    display: flex;
    margin-bottom: 1rem;
    background: $color-primary;
    box-shadow: 0px 0px 10px $color-secondary;
    >div {
        display: flex;
    }
    .brand {
        a {
            color: $color-initial;
            text-transform: uppercase;
            font-weight: bold;
            padding: 2rem;
        }
    }
}

.menu {
    display: flex;
    >a {
        display: flex;
        color: $color-initial;
        padding: 2rem;
        &:hover {
            background: darken($color: $color-primary, $amount: 5);
        }
    }
}

.section {
    margin: 3rem 2rem;
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: .5rem;
    }
    .content {
        margin: 0.5rem 0;
        padding: 1rem 2rem;
        background-color: $color-quinary;
    }
}

.title {
    display: inline-block;
    background: $color-tertiary;
    color: $color-initial;
    padding: 1rem;
    font-weight: bold;
}

.room-link {
    background-color: $color-quaternary;
    display: inline-block;
    padding: 1rem;
    color: $color-initial;
    margin: 0 0 .5rem 0;
    a {
        text-decoration: underline;
        color: $color-initial;
    }
}

.steps {
    li {
        margin-bottom: .5rem;
    }
}

.soundboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: -1rem;
    margin-right: -1rem;
    .item {
        display: flex;
        flex-direction: column;
        width: calc(20% - 1em);
        background: $color-quaternary;
        padding: 2rem;
        margin: 1rem;
        &.upload {
            background-color: $color-quinary;
            border: 3px dashed $color-quaternary;
        }
        .item-name {
            font-weight: bold;
            background-color: $color-initial;
        }
    }
    .loop-wrapper {
        margin: .5rem 0;
        * {
            margin: 0;
        }
        input {
            margin-right: .5rem;
        }
    }
}

.upload {
    p {
        text-align: center;
        font-size: 3rem;
        margin: 0
    }
}

.settings {
    ul {
        li {
            list-style: none;
            label,
            input {
                margin: 0;
            }
        }
    }
}

.small {
    font-size: 1.3rem;
}

audio {
    margin: 0;
    display: block;
    width: 100%;
}